# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
BasedOnStyle: Google
Standard: c++17
Language: Cpp
InsertNewlineAtEOF: true
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: Signature
SortIncludes: CaseInsensitive
AllowShortIfStatementsOnASingleLine: Never
EmptyLineBeforeAccessModifier: Always
AccessModifierOffset: -2
UseTab: Never
